body {
  background: #f8fafc;
}

.language-btn {
  padding: 10px 22px;
  border-radius: 30px;
  background: #fff;
  border: 1px solid #e5e7eb;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.25s ease;
}

.language-btn:hover,
.language-btn.active {
  background: #0d6efd;
  color: #fff;
  border-color: #0d6efd;
}

.quote-card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(calc(-1deg + 2deg * random()));
    padding: 15px;
    min-height: 200px;

    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 0 8px 18px rgba(0,0,0,0.35);
    border: none;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.quote-card p {
    margin-bottom: 2px;
}
.quote-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 14px 30px rgba(0,0,0,0.45);
}


.quote-text {
  font-family: 'Georgia', serif;
  font-size: 1.05rem;
  font-weight: 500;
  color: #3a2f2f;
  
}

/* AUTHOR ALIGNMENT */
.quote-author {
  font-family: 'Playfair Display', serif;
  font-size: 0.95rem;
  margin-top: 8px;
  text-align: right;
}

/* AUTHOR LINK STYLE (override Bootstrap) */
.quote-author .author-link {
  display: inline-block;
  padding: 3px 10px;
  background: rgba(0, 0, 0, 0.06);
  color: #830000 !important;
  font-style: italic;
  border-left: 3px solid #a67c52;
  text-decoration: none !important;
}


/* HOVER */
.quote-author .author-link:hover {
 background: rgba(176, 141, 87, 0.28);
  color: #6f522f !important;
}

.icon-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3px;
}
.action {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 0.85rem;
    line-height: 1;
    cursor: pointer;
}

.material-symbols-outlined {
    font-size: 15px;
    line-height: 1;
}
.action-count {
    font-size: 0.75rem;
    margin-top: 1px;
}

.icon-bar i {
    cursor: pointer;
    transition: color 0.3s;
}
.icon-bar i:hover {
    color: #0d6efd;
}
