name: Deploy Quotes Frontend 

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy via SSH (Local Docker Build)
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd ~

            rm -rf Quotes_Frontend

            git clone https://github.com/<your-username>/Quotes_Frontend.git
            cd Quotes_Frontend

            docker stop quotes_frontend || true
            docker rm quotes_frontend || true

            docker build -t quotes_frontend .

            docker run -d \
             --name quotes_frontend \
            -p 8004:80 \
            --restart always \
            quotes_frontend
