name: Deploy Quotes Frontend 

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy via SSH (Local Docker Build)
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd ~

            # Remove old code
            rm -rf quotes_frontend

            # Clone latest code
            git clone https://github.com/nextgenIntern/Quotes_Frontend.git
            cd quotes_frontend

            # Stop old container if exists
            docker stop quotes_frontend || true
            docker rm quotes_frontend || true

            # Build image locally 
            docker build -t quotes_frontend .

            # Run container
            docker run -d \
              --name quotes_frontend \
              -p 8004:80 \
              --restart always \
              quotes_frontend
